/* Colors for a "complementary" color scheme that look good */
/*#E38902 #ADDDF0 #2F6F89 #3E21C0 #0F082F*/
/*#DEE9ED #526F7A #8E4866 #B9A560 #27161D*/
/*#A4C0CC #425962 #713A52 #9C8945 #1F1218*/
$color-light-1: #A4C0CC;
$color-light-2: #425962;
$color-color-1: #713A52;
$color-color-2: #9C8945;
$color-dark: #1F1218;
$color-back: $color-dark;
$color-font: $color-light-1;

:root {
  background-color: $color-back;
  color: $color-font;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-size: 24px;
}

p, ol, ul {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
  border-radius: 10px;
}

p {
  max-width: 1600px;
}

ol, ul {
  /*list-style-position: inside;*/
  max-width: 1200px;
}

li {
  margin: 15px 0;
}
