@use 'var' as *;

.label-button {
  border-radius: 6px;
  padding: 6px 12px;
  margin: 6px;
  cursor: pointer;
}

.active-button-style {
  background-color: $color-color-2;
  color: $color-dark;
  box-shadow: inset 0px 0px 0px 3px $color-color-1;
}

.inactive-button-style {
  background-color: $color-dark;
  color: $color-light-1;
  box-shadow: inset 0px 0px 0px 3px $color-color-1;
}

.mouseover-button-style {
  background-color: $color-color-1;
  color: $color-light-1;
  box-shadow: inset 0px 0px 0px 3px $color-light-2;
}

.horiz {
  display: inline-block;
  padding: 6px;
}

.vert {
  display: block;
  padding: 6px;
}
