# to exclude Obsidian workspace settings (including plugin and hotkey configurations)
.obsidian/*

# OR Exclude workspace cache
# .obsidian/workspace/*

# OR Exclude plugins
# .obsidian/plugins/*

# This file is used to keep track of last auto backup/pull
.obsidian-git-data

# Exclude Untitled Notes
Untitled*
# Exclude "bad" names
null*
